<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="JVis"
            id="io.github.btj.jvis">
      </category>
      <view
            id="io.github.btj.jvis.MachineStateView"
            name="Machine State"
            icon="icons/sample.png"
            class="io.github.btj.jvis.MachineStateView"
            category="io.github.btj.jvis"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.debug.ui.DebugPerspective">
         <view
               id="io.github.btj.jvis.MachineStateView"
               relative="org.eclipse.debug.ui.DebugView"
               relationship="bottom"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
